.poke_img{
    width: 105px;
    height: 140px;
    background-repeat: no-repeat;
}

.ball{
    background-image: url("../assets/pokeball.png");
    background-size: contain;
    background-position: center;

}

.poke_page1{
    background-image: url("../assets/poke_empty1.png");
}
.poke_page2{
    background-image: url("../assets/poke_empty2.png");
}
.poke_page3{
    background-image: url("../assets/poke_empty3.png");
}
.poke_page4{
    background-image: url("../assets/poke_empty4.png");
}
.poke_page5{
    background-image: url("../assets/poke_empty5.png");
}
.poke_page6{
    background-image: url("../assets/poke_empty6.png");
}
.poke_page7{
    background-image: url("../assets/poke_empty7.png");
}
.poke_page8{
    background-image: url("../assets/poke_empty8.png");
}



/* 가로 -(64, 184, 304, 424) */
.x1{
    background-position-x: -64px; 
}
.x2{
    background-position-x: -184px; 
}
.x3{
    background-position-x: -304px; 
}
.x4{
    background-position-x: -424px; 
}

/* 세로 -(71, 218, 366, 513, 660)*/
.y1{
    background-position-y: -71px;
}
.y2{
    background-position-y: -218px;
}
.y3{
    background-position-y: -366px;
}
.y4{
    background-position-y: -513px;
}
.y5{
    background-position-y: -660px;
}